# Create a zip file from python code and requirements.txt. Zip will be stored in a github artifact
name: Build Python Lambda
on:
  workflow_call:
    inputs:
      python_version:
        description: "Python version. Check https://github.com/actions/setup-python for valid values"
        type: string
        default: "3.12"
      source_dir:
        description: "Directory of the Python source code. Should contain the requirements.txt file"
        type: string
        required: true
      requirements_filepath:
        description: "Path to the requirements.txt file, relative to source_dir"
        type: string
        default: "requirements.txt"
      zip_filename:
        description: "The zip file to create. It's relativ to the repository root"
        type: string
        default: "python_package.zip"
      gh_artifact_name:
        description: "Name of the artifact to upload"
        type: string
        required: true
      gh_artifact_retention_days:
        description: "Number of days to retain the artifact"
        type: number
        default: 30

jobs:
  build:
    name: Build Python
    runs-on: ubuntu-latest

    env:
      PYTHON_VERSION: ${{ inputs.python_version }}
      SOURCE_DIR: ${{ inputs.source_dir }}

    defaults:
      run:
        working-directory: ${{ env.SOURCE_DIR }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Download Python modules
        run: |
          mkdir package
          pip install -r "${{ inputs.requirements_filepath }}" -t package

      - name: Create Zipfile
        working-directory: .
        run: |
          DIR="$PWD"
          cd "$SOURCE_DIR"/package
          zip -r "$DIR/${{ inputs.zip_filename }}" .
          cd ..
          zip -r "$DIR/${{ inputs.zip_filename }}" . -x 'package/*'

      - name: Save artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ inputs.gh_artifact_name }}
          path: ${{ inputs.zip_filename }}
          if-no-files-found: error
          retention-days: ${{ inputs.gh_artifact_retention_days }}
